<ion-view>
  <ion-nav-title>{{event.name}}</ion-nav-title>
  <ion-content class="padding">
    <div class="item item-body">
    <img class="full-image" ng-src="{{event.image}}"> <!-- class full-image -->
    <p>
      {{event.description}}
    </p>
    <p>
      <span>
        <i class="icon ion-person-stalker placeholder-icon"></i>{{event.capacity}}
      </span>

      <span>
        <i class="icon ion-calendar placeholder-icon"></i>{{event.created | date: 'dd.MM.yyyy'}} 
      </span>

      <span>
        <i class="icon ion-android-time placeholder-icon"></i>{{event.created | date: 'HH:mm a'}}
      </span>
    </p>
    <p>
      <button class="button button-positive button-full">Join</button>
    </p>
 
    <div class="bar item-input-inset">
       <label class="item-input-wrapper">
        <input type="text" placeholder="Type your comment" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
      </label>
      <button class="button button-outline button-positive" ng-click="sendMessage()">
        Post
      </button>
      </div>

    <div class="item comment">
      <img src="mcfly.jpg">comments:
      <p>
        This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
        the content is from a card-body consisting of an image and paragraph text. The footer
        consists of tabs, icons aligned left, within the card-footer.
      </p>
    </div>
    <div class="item comment">
      <img src="mcfly.jpg">comments:
      <p>
        This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
        the content is from a card-body consisting of an image and paragraph text. The footer
        consists of tabs, icons aligned left, within the card-footer.
      </p>
    </div>

  </div>
  </ion-content>
</ion-view>