<ion-view view-title="{{event.title}}">
  <ion-content class="padding">
    <div class="item item-body">
    <img class="full-image" ng-src="{{event.image}}"> <!-- class full-image -->
    <p>
      {{event.description}}
    </p>
    <p>
      <span>
        <i class="icon ion-android-pin placeholder-icon"></i>{{event.distance}}km
      </span>

      <span>
        <i class="icon ion-calendar placeholder-icon"></i>25.12.2015 
      </span>

      <span>
        <i class="icon ion-android-time placeholder-icon"></i>21:00PM 
      </span>
    </p>
    <p>
      <button class="button button-positive button-full">Join</button>
    </p>
  </div>
</ion-view>