<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Create event</h1>
    <button class="button button-icon icon ion-close" ng-click="closeModal()"></button>
  </ion-header-bar>
  <ion-content>
   <div class="list">
    <label class="item item-input item-floating-label">
      <span class="input-label positive">Title</span>
      <input type="text" placeholder="Title">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label positive">Description</span>
      <input type="text" placeholder="Description">
    </label>
  </div>
  <div class="padding">
      <button class="button button-block button-positive">Create Event</button>
  </div>
  </ion-content>
</ion-modal-view>