<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Create event</h1>
    <button class="button button-icon icon ion-close" ng-click="closeModal()"></button>
  </ion-header-bar>
  <ion-content>
  <form ng-submit="sendData(event)">
   <div class="list">
    <label class="item item-input item-floating-label">
      <span class="input-label positive">Title</span>
      <input type="text" placeholder="Title" ng-model="event.name">
    </label>
    <label class="item item-input item-floating-label">
      <span class="input-label positive">Description</span>
      <input type="text" placeholder="Description" ng-model="event.description">
    </label>
     <label class="item item-input item-floating-label">
      <span class="input-label positive">Capacity</span>
      <input type="text" placeholder="Capacity" ng-model="event.capacity">
    </label>
     <label class="item item-input item-floating-label">
      <span class="input-label positive">Status</span>
      <input type="text" placeholder="Status" ng-model="event.status">
    </label>
     <label class="item item-input item-label">
      <span class="input-label positive">Created</span>
      <input type="datetime-local" placeholder="Created" ng-model="event.created">
    </label>
     <label class="item item-input item-label">
      <span class="input-label positive">Begin Time</span>
      <input type="datetime-local" placeholder="Begin Time" ng-model="event.begin_time">
    </label>
     <label class="item item-input item-label">
      <span class="input-label positive">End Time</span>
      <input type="datetime-local" placeholder="End Time" ng-model="event.end_time">
    </label>
     <label class="item item-input item-floating-label">
      <span class="input-label positive">Location</span>
      <input type="text" placeholder="Location" ng-model="event.location">
    </label>

    <div class="padding">
      <button class="button button-calm icon-left ion-android-camera" ng-click="takePhoto()">Take photo</button>
       <button class="button button-calm icon-left ion-android-image" ng-click="choosePhoto()">Choose photo</button>
    </div>
    <div class="padding">
       <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" class="full-image">
    </div>
  </div>

  <div class="padding">
      <button class="button button-block button-positive" type="submit">Create Event</button>
  </div>
   </form>
  </ion-content>
</ion-modal-view>